# dependencies
node_modules/

# build / cache
dist/
.turbo/
.parcel-cache/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tsbuildinfo

# env / secrets
.env
.env.local
.env.*.local

# OS / editor junk
.DS_Store
Thumbs.db
.idea/
.vscode/

# misc
logs/
*.log